In [1]:
# Random Forest Classification         , 
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
df= read_csv("Company_Data.csv")
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [3]:
df = pd.get_dummies(df, columns =['ShelveLoc','Urban','US'])
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,9.50,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,11.22,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,10.06,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,7.40,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,4.15,141,64,3,340,128,38,13,1,0,0,0,1,1,0

In [4]:
df['sales']='small'
df.loc[df['Sales'] > 7.5,'sales'] = "large"
df.drop(['Sales'], axis=1,inplace = True)
array = df.values
df.columns

Index(['CompPrice', 'Income', 'Advertising', 'Population', 'Price', 'Age',
       'Education', 'ShelveLoc_Bad', 'ShelveLoc_Good', 'ShelveLoc_Medium',
       'Urban_No', 'Urban_Yes', 'US_No', 'US_Yes', 'sales'],
      dtype='object')

In [5]:
x = array[:,0:14]
y = array[:,14]

In [6]:
x_train,x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3)

In [7]:
 # Applying RF
num_trees = 100
max_features = 3    #
kfold = KFold(n_splits=10)
model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features) 
model.fit(x_train,y_train)
pred = model.predict(x_test)

confusion_matrix(y_test, pred)

array([[51, 11],
       [11, 47]], dtype=int64)

In [8]:
results = cross_val_score(model, x,y, cv=kfold)
print(results.mean())
results

0.7925

array([0.8  , 0.825, 0.65 , 0.85 , 0.75 , 0.9  , 0.75 , 0.8  , 0.75 ,
       0.85 ])

In [9]:
model.fit(x_train, y_train)

RandomForestClassifier(max_features=3)

In [10]:
#
pred = model.predict(x_test)
pred

array(['large', 'small', 'large', 'large', 'small', 'small', 'large',
       'large', 'large', 'large', 'large', 'small', 'large', 'small',
       'large', 'large', 'large', 'small', 'large', 'large', 'large',
       'small', 'small', 'large', 'large', 'small', 'large', 'small',
       'large', 'small', 'large', 'large', 'small', 'large', 'large',
       'large', 'large', 'large', 'small', 'large', 'small', 'small',
       'large', 'small', 'large', 'small', 'large', 'large', 'small',
       'large', 'large', 'large', 'large', 'large', 'large', 'large',
       'small', 'small', 'small', 'small', 'large', 'small', 'small',
       'small', 'small', 'large', 'small', 'small', 'large', 'large',
       'large', 'small', 'large', 'large', 'small', 'large', 'small',
       'large', 'large', 'large', 'small', 'large', 'small', 'large',
       'small', 'small', 'small', 'large', 'large', 'large', 'small',
       'large', 'small', 'small', 'large', 'large', 'small', 'small',
       'small', 'small', 'small', 'large', 'small', 'large', 'large',
       'large', 'small', 'small', 'small', 'small', 'large', 'small',
       'small', 'large', 'small', 'large', 'large', 'small', 'small',
       'large'], dtype=object)

In [11]:
# create dataframe actual and prediction
data = pd.DataFrame({ "actual":y_test,"prection":pred})
data

    actual prection
0    small    large
1    small    small
2    large    large
3    large    large
4    small    small
..     ...      ...
115  large    large
116  large    large
117  small    small
118  small    small
119  small    large

[120 rows x 2 columns]

In [13]:
# Feature impotance
df1 = df.columns
df1= df1.drop(['sales'])
feature = model.feature_importances_
data = pd.DataFrame({'columns':df1,"importance":feature})
data.sort_values("importance",ascending=False)

             columns  importance
4              Price    0.219171
5                Age    0.118471
0          CompPrice    0.115604
1             Income    0.109633
2        Advertising    0.096371
3         Population    0.085153
8     ShelveLoc_Good    0.068408
6          Education    0.065535
7      ShelveLoc_Bad    0.049376
9   ShelveLoc_Medium    0.022109
13            US_Yes    0.014669
12             US_No    0.013534
10          Urban_No    0.012117
11         Urban_Yes    0.009849

 # Price  have high importance